pip install llama-index-extractors-entity
pip install llama-index-llms-huggingface
pip install llama-index-readers-file
pip install llama-index-readers-database
pip install llama-index-readers-discord
pip install llama-index-readers-github
pip install llama-index-readers-maps
pip install llama-index-readers-web
pip install llama-index-readers-s3
pip install langchain
pip install tree_sitter
pip install tree_sitter_languages
pip install torch torchvision torchaudio